In [1]:
import numpy as np

**Q1.** Create a new array of 2*2 integers, without initializing entries.

In [4]:
arr = np.zeros((2,2),dtype = int)
arr

array([[0, 0],
       [0, 0]])

**Q2.** Let X = np.array([1,2,3], [4,5,6], np.int32). Create a new array with the same shape and type as X.

In [6]:
x = np.array(([10,15,20],[25,30,35]),dtype = int)
x

array([[10, 15, 20],
       [25, 30, 35]])

**Q3.** Create a 3-D array with ones on the diagonal and zeros elsewhere.

In [8]:
np.eye(3,dtype = int) # Identical matrix --> Diagonal should be always 1

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [23]:
np.identity(3,dtype = int)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

**Q4.** Create a new array of 3*2 float numbers, filled with ones.

In [16]:
Ones = np.ones((3,2))
Ones

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

**Q5.** Let x = np.arange(4, dtype=np.int64). Create an array of ones with the same shape and type as X.

In [26]:
x = np.arange(4,dtype = int)
np.ones_like(x)

array([1, 1, 1, 1])

**Q6.** Create a new array of 3*2 float numbers, filled with zeros.

In [28]:
x1 = np.zeros((3,2),dtype = float)
x1

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

**Q7.** Let x = np.arange(4, dtype=np.int64). Create an array of zeros with the same shape and type as X.

In [29]:
z = np.arange(4,dtype = int)
np.zeros_like(z)

array([0, 0, 0, 0])

In [30]:
np.nonzero(z)

(array([1, 2, 3], dtype=int64),)

**Q8.** Create a new array of 2*5 uints, filled with 6.

In [47]:
x = np.full((2,5),6,dtype = int)
x

array([[6, 6, 6, 6, 6],
       [6, 6, 6, 6, 6]])

**Q9.** Let x = np.arange(4, dtype=np.int64). Create an array of 6's with the same shape and type as X.

In [55]:
x = np.arange(4)
np.full_like(x,6,dtype = int)

array([6, 6, 6, 6])

In [56]:
# From Existing Data
x = np.array([1,2,3])
x

array([1, 2, 3])

In [61]:
x = [1,2]
y = np.asarray(x)
y

array([1, 2])

In [62]:
type(y)

numpy.ndarray

**Q10.** Let X = np.array([[1, 2], [3, 4]]). Convert it into a matrix.

In [64]:
x = np.array([[1,2],[3,4]])
x

array([[1, 2],
       [3, 4]])

In [65]:
x = np.array([[1,2],[3,4]])
y = np.asmatrix(x)
y

matrix([[1, 2],
        [3, 4]])

**Q11.** Let x = [1, 2]. Conver it into an array of float.

In [68]:
x = [1,2]
x1 = np.array(x,dtype = float)
x1

array([1., 2.])

**Q12** Let x = np.array([30]). Convert it into scalar of its single element, i.e. 30.

In [73]:
x = np.array([30])
x[0]

30

**Q13.** 
Let x = np.array([1, 2, 3]). Create a array copy of x, which has a different id from x.

In [74]:
x = np.array([1,2,3])
y = x.copy()

In [77]:
print(id(x),x)
print(id(y),y)

1599490503088 [1 2 3]
1599490498288 [1 2 3]

# Numerical Ranges

**Q14** Create an array of 2, 4, 6, 8, ..., 100.

In [83]:
arr = np.arange(2,101,2)
arr

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

**Q15.** Create a 1-D array of 50 evenly spaced elements between 3. and 10., inclusive.

In [85]:
arr1 = np.linspace(3.,10,50)
arr1

array([ 3.        ,  3.14285714,  3.28571429,  3.42857143,  3.57142857,
        3.71428571,  3.85714286,  4.        ,  4.14285714,  4.28571429,
        4.42857143,  4.57142857,  4.71428571,  4.85714286,  5.        ,
        5.14285714,  5.28571429,  5.42857143,  5.57142857,  5.71428571,
        5.85714286,  6.        ,  6.14285714,  6.28571429,  6.42857143,
        6.57142857,  6.71428571,  6.85714286,  7.        ,  7.14285714,
        7.28571429,  7.42857143,  7.57142857,  7.71428571,  7.85714286,
        8.        ,  8.14285714,  8.28571429,  8.42857143,  8.57142857,
        8.71428571,  8.85714286,  9.        ,  9.14285714,  9.28571429,
        9.42857143,  9.57142857,  9.71428571,  9.85714286, 10.        ])


**Q16** Create a 1-D array of 50 element spaced evenly on a log scale between 3. and 10., exclusive.

In [87]:
np.logspace(3.,10.,50,endpoint = False)

array([1.00000000e+03, 1.38038426e+03, 1.90546072e+03, 2.63026799e+03,
       3.63078055e+03, 5.01187234e+03, 6.91830971e+03, 9.54992586e+03,
       1.31825674e+04, 1.81970086e+04, 2.51188643e+04, 3.46736850e+04,
       4.78630092e+04, 6.60693448e+04, 9.12010839e+04, 1.25892541e+05,
       1.73780083e+05, 2.39883292e+05, 3.31131121e+05, 4.57088190e+05,
       6.30957344e+05, 8.70963590e+05, 1.20226443e+06, 1.65958691e+06,
       2.29086765e+06, 3.16227766e+06, 4.36515832e+06, 6.02559586e+06,
       8.31763771e+06, 1.14815362e+07, 1.58489319e+07, 2.18776162e+07,
       3.01995172e+07, 4.16869383e+07, 5.75439937e+07, 7.94328235e+07,
       1.09647820e+08, 1.51356125e+08, 2.08929613e+08, 2.88403150e+08,
       3.98107171e+08, 5.49540874e+08, 7.58577575e+08, 1.04712855e+09,
       1.44543977e+09, 1.99526231e+09, 2.75422870e+09, 3.80189396e+09,
       5.24807460e+09, 7.24435960e+09])

In [88]:
np.logspace(3.,10.,50,endpoint = True)

array([1.00000000e+03, 1.38949549e+03, 1.93069773e+03, 2.68269580e+03,
       3.72759372e+03, 5.17947468e+03, 7.19685673e+03, 1.00000000e+04,
       1.38949549e+04, 1.93069773e+04, 2.68269580e+04, 3.72759372e+04,
       5.17947468e+04, 7.19685673e+04, 1.00000000e+05, 1.38949549e+05,
       1.93069773e+05, 2.68269580e+05, 3.72759372e+05, 5.17947468e+05,
       7.19685673e+05, 1.00000000e+06, 1.38949549e+06, 1.93069773e+06,
       2.68269580e+06, 3.72759372e+06, 5.17947468e+06, 7.19685673e+06,
       1.00000000e+07, 1.38949549e+07, 1.93069773e+07, 2.68269580e+07,
       3.72759372e+07, 5.17947468e+07, 7.19685673e+07, 1.00000000e+08,
       1.38949549e+08, 1.93069773e+08, 2.68269580e+08, 3.72759372e+08,
       5.17947468e+08, 7.19685673e+08, 1.00000000e+09, 1.38949549e+09,
       1.93069773e+09, 2.68269580e+09, 3.72759372e+09, 5.17947468e+09,
       7.19685673e+09, 1.00000000e+10])

# Building Matrices

**Q17** Let X = np.array([[ 0, 1, 2, 3], [ 4, 5, 6, 7], [ 8, 9, 10, 11]]). Get the diagonal of X, that is, [0, 5, 10].

In [90]:
x = np.array([[0,1,2,3],[4,5,6,7],[8,9,10,11]])
np.diagonal(x)

array([ 0,  5, 10])

In [91]:
x.diagonal()

array([ 0,  5, 10])

**Q18.** Create a 2-D array whose diagonal equals [1, 2, 3, 4] and 0's elsewhere.

In [92]:
x = np.diagflat([1,2,3,4])
x

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

**Q19.** Create an array which looks like below. array([[ 0., 0., 0., 0., 0.], [ 1., 0., 0., 0., 0.], [ 1., 1., 0., 0., 0.]])

In [93]:
np.tri(3,5,-1)

array([[0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 1., 0., 0., 0.]])

**Q20.** Create an array which looks like below. array([[ 0, 0, 0], [ 4, 0, 0], [ 7, 8, 0], [10, 11, 12]])

In [97]:
# tril() --> Lower triangle of an array.
np.tril(np.arange(1,13).reshape(4,3),-1)

array([[ 0,  0,  0],
       [ 4,  0,  0],
       [ 7,  8,  0],
       [10, 11, 12]])

**Q20.** Create an array which looks like below. array([[ 1, 2, 3], [ 4, 5, 6], [ 0, 8, 9], [ 0, 0, 12]])

In [101]:
# trilu() --> upper triangle of an array.
np.triu(np.arange(1,13).reshape(4,3),-1)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 0,  8,  9],
       [ 0,  0, 12]])